@import url('https://fonts.googleapis.com/css?family=Raleway:400i');
$font: "Times New Roman", serif;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    flex: 1 1 20%;
    align-self: center;
    h2 {
      font-family: $font;
      text-shadow: 1px 1px 2px aqua;
      font-size: 3em;
    }
  }
}
.author {
  padding: 25px 0;
  color: brown;
  &::before {
    content: "Composer ";
  }
}
.song {
  font-family: 'Raleway', sans-serif;
  ul li {
    list-style-type: none;
    padding-top: 20px;
  }
}